.about {
	background-color: #fafafa;
	/* margin: 5px; */
}
.about span {
	color: blue;
}
.about .box {
	border: 1px solid black;
	border-radius: 5px;
	background-color: aliceblue;
	width: 450px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
