.admin {
	color: darkcyan;
}

.admin .parent {
	display: flex;
}

.admin .products {
	background-color: rgb(211, 252, 185);
	flex: 2;
}

.admin .coupons {
	background-color: rgb(206, 160, 228);
	flex: 1;
}

.form {
	width: 80%;
	margin: 0 auto;
}

.admin .form {
	border: 1px solid #333;
	padding: 10px;
	text-align: left;
	margin-bottom: 10px;
}

.admin .form div {
	margin-bottom: 10px;
	padding: 5px;
}

ul {
	margin: 5px;
	text-decoration: none;
	padding-left: 0;
}

li {
	border: #333 1px solid;
	border-radius: 3px;
	background-color: beige;
	margin: 2px;
	list-style: none;
}

.speech-bubble {
	position: relative;
	background: #da3f2e;
	border-radius: 0.4em;
	color: white;
	width: 50%;
}
